.background {
  background: linear-gradient(317deg, #246655, #312d8c);
  background-size: 400% 400%;
  font-family: 'Work Sans', sans-serif;

  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
.navbar {
 background: linear-gradient(317deg, #246655, #312d8c);
 height: 75px; 
 position: fixed;
 z-index: 10;
 width: 100%;
 top: 0;
 left: 0;
 color: #D9CCC1;
 border-bottom: 2px solid;
 border-radius: 5px;
 
}
.link {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  position: relative;
  color: #D9CCC1;
  
}
.link:hover {
  text-decoration: none;
  color: #D9CCC1;
  cursor: pointer;
}
.link-block {
  display: flex;
  flex-direction: row;
  gap: 35px; 
  max-height: 50%;
}
.form {
  width: 100%;
  padding: 10px; 
}
.button {
  display: flex;
  gap: 5px;
  position: relative;
  margin-top: 75px
}
.trainings {
  font-size: 15px;
  
  margin: auto 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  position: relative; 
  top: 5px;
  bottom: 15px;
  color: #D9CCC1;
  border: 2px solid;
  border-radius: 5px; 
} 
.select {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}
.day {
  color: #D9CCC1;
  font-size: 25px;
  font-weight: bold;
  margin: auto 10px;
}
.start-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}
.startingpage {
  font-size: 25px;
  font-weight: bold;
  margin-top: 120px;
  color: #D9CCC1;
 
}
.customIcon {
  position: absolute;
  left: auto;
  right: 10px;
  text-indent: 32px;
  top: 20px;
}
.surveyPage {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-color: rgb(5, 5, 5);
  border: 3px solid;
  border-radius: 5px; 
  padding: 30px;
  padding-top: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.surveyPageElements {
  width: 100%;
  padding: 10px;
  border-radius: 5px; 
  box-sizing: border-box;
  
}

.showBox {
  position: absolute;
  z-index: 100;
}




